


<app-menu-title></app-menu-title>

<div class="container__articles">
    @for (item of itens; track $index) {
        @if (item.id == 1) {
            <div class="articles__main">
                <app-big-card 
                    Id="{{item.id}}"
                    photoCover="{{item.photoCover}}"
                    cardTtle="{{item.title}}"
                    cardDescription="{{item.description}}"
                    >
                </app-big-card>
            </div>
        }
    }
    <div class="articles__others">
    @for (item of itens; track $index) {
        @if (item.id > 1) {        
            <app-small-card
                Id="{{item.id}}"
                photoCover="{{item.photoCover}}"
                cardTtle="{{item.title}}"
            >
            </app-small-card>
        }
    }
    </div>
</div>